# Исключаем временные файлы и кэш
__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git
.gitignore

# Настройки окружения
.env
.env.*

# Документация, IDE-штуки
*.md
.vscode/
.idea/

# Логи
*.log

# Тесты (если не нужны внутри контейнера)
tests/
